
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" , content="width=device-width , initial-scale=1.0, user-scalable=no")
		title Ecash
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
		link(rel="stylesheet", href="./css/bootstrap.min.css")
	body
		header.bg-black
			.container
				.row
					.col-lg-12.hidden-sm.hidden-xs
						.col-sm-3
							.logo
								img(src="./img/logo-ecash.png", alt="Logo")
						.col-sm-9
							.pull-right
								.navegador.pt-28
									a.pull-right.p-7(href="#") | Entrar 
									a.pull-right.p-7(href="#")  Registrate 
									.empresas
										
									.menu.pull-right
										a.pull-left.p-7(href="#")
											p Empresas |
										a.pull-left.p-7(href="#")
											p Inversionista |
										a.pull-left.p-7(href="#") Ecash | 
										a.pull-left.p-7(href="#") Staff |
										a.pull-left.p-7(href="#") Blog 
										a.pull-left.p-7(href="#") Contáctanos

					.col-xs-12.col-sm-12.hidden-lg.hidden-md.text-center
						.logo.pull-left
							img(src="http://placehold.it/50x50", alt="Logo")
						nav.navbar-inverse
							.container-fluid
								.navbar-header
									button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
										span.sr-only toggle navigation
										span.icon-bar
										span.icon-bar
									a.navbar-brand(href="#") Ecash
								.collapse.navbar-collapse#bs-example-navbar-collapse-1
									ul.nav.navbar-nav
										li.active.pb-14
											a.nav-text-inverse(href="#") Invierte
												span.sr-only current
										li.active.pb-14
											a.nav-text-inverse(href="#") Emprende
												span.sr-only current
										li.dropdown.pb-14
													a.nav-text-inverse.pb-28(href="#") Ecash
												li.pb-14
													a.nav-text-inverse.pb-28(href="#") Staff
												li.pb-14
													a.nav-text-inverse.pb-28(href="#") Blog
												li.pb-14
													a.nav-text-inverse.pb-28(href="#") Contáctanos
									
		.container-fluid
			.row
				.top-head
					
		section#contenido.bg-soft-grey.pt-28.pb-28
				.container
					.row.bg-white.p-14.border-grey.mb-14
						.p-14
							.col-lg-9.col-md-9.col-sm-8.col-xs-12
								.texto
									h2 Crecimiento datos estadístiacs gente listas manejo de riesgos opiniòn planeación
									p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste atque dolor nihil quaerat quae ducimus earum quidem, amet. Rerum, veritatis amet quis, voluptatum eum corrupti similique dolor harum doloremque autem!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident, reiciendis. Totam, at labore explicabo praesentium optio consequuntur doloribus, non beatae eos quae ad necessitatibus facilis commodi fuga, cumque eligendi.
									.pb-14
										.btn.btn-primary
											.text-white
												span Leer más
							.col-lg-3.col-md-3.col-sm-4.col-xs-12
								img(src="http://placehold.it/260x180", alt="")
					.row.bg-white.mb-7.pt-14.pb-14.border-grey
						.p-14
							.col-lg-9.col-md-9.col-sm-8.col-xs-12
								.texto
									h2 Crecimiento datos estadístiacs gente listas manejo de riesgos opiniòn planeación
									p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste atque dolor nihil quaerat quae ducimus earum quidem, amet. Rerum, veritatis amet quis, voluptatum eum corrupti similique dolor harum doloremque autem!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos veritatis dolorum, iste laudantium suscipit ducimus unde deserunt ipsum. Natus sint voluptatem tenetur nobis ipsam iusto modi dolor quae quam.
									.pb-14
										.btn.btn-primary
											.text-white
												span Leer más
							.col-lg-3.col-md-3.col-sm-4.col-xs-12
								img(src="http://placehold.it/260x180", alt="")
					.row.bg-white.mb-7.pt-14.pb-14.border-grey
						.p-14
							.col-lg-9.col-md-9.col-sm-8.col-xs-12
								.texto
									h2 Crecimiento datos estadístiacs gente listas manejo de riesgos opiniòn planeación
									p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste atque dolor nihil quaerat quae ducimus earum quidem, amet. Rerum, veritatis amet quis, voluptatum eum corrupti similique dolor harum doloremque autem!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos amet porro soluta tempore architecto ducimus itaque! Nesciunt fugit, aut vero, sit non harum suscipit corporis, sapiente, obcaecati atque provident cupiditate.
									.pb-14
										.btn.btn-primary
											.text-white
												span Leer más
							.col-lg-3.col-md-3.col-sm-4.col-xs-12
								img(src="http://placehold.it/260x180", alt="")


			
			
			

			footer#footer.bg-black
				.container
					.row
						.col-sm-offset-2.col-sm-2.col-xs-2.text-white
							ul.list-unstyled.text-right.icon-footer
								li
									i.fa.fa-facebook-square(aria-hidden="true")
									
								li
									i.fa.fa-youtube-square(aria-hidden="true")
									
								li
									i.fa.fa-linkedin-square(aria-hidden="true")
									
						.col-sm-3-col-xs-3.borderless.text-white
							span.uppercasse.text-yellow contacto
							br
							span.text-white Telf: 995096289
							br
							span.text-white contacto@ecash.com.pe
							
							p.uppercasse.text-yellow blog

						.col-sm-5.borderless.text-white
							span.uppercasse.text-yellow  legal
							br
							span.text-white Marco Legal
							br
							span.text-white Política de privacidad
							br
							span.text-white términos de condiciones de uso
					.row.hidden-sm-hidden-md.hidden-lg.text-white
						.text-center
							p Lima - 2016



		script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(type="text/javascript" src="./js/bootstrap.min.js")
		script(type="text/javascript" src="https://use.fontawesome.com/e1e12dd114.js")
		script(type="text/javascript" src="./js/main.js")
	











